@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(58, 58, 58);
    margin: 0;
    display: flex;
    flex-direction: column;
    
    /* Sets the whole body to Roboto-Serif */
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
header{
    text-align: center;
    color: white;
    font-size: 35px;
    background-color: rgb(199, 114, 3);
    padding-top: 10px;
    padding-bottom: 10px;
}
.board {
    align-self: center;
    margin-top: 4rem;
    display: grid;
    grid-template: repeat(3, 130px) / repeat(3, 130px);
    background-color: white;
}
.cells {
    font-size: 6rem;
    font-weight: bold;
    height: 100%;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu, .display {
    align-self: center;
}
.menu {
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    width: 350px;
    justify-content: space-between;
}
.menu > input {
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: rgb(199, 114, 3);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    cursor: pointer;
}
.restart:disabled {
    background-color: rgb(164, 95, 4);
    color: rgb(207, 207, 207);
    cursor:auto;
}
.scoreboard {
    margin-top: 50px;
    align-self: center;
    color: white;
}
dialog {
    width: 370px;
    height: 150px;
    margin-top: 10%;
    border-radius: 20px;
    border: 5px solid rgb(199, 114, 3);
    background-color: rgb(58, 58, 58);
}
.close-btn, .submit-btn {
    height: 40px;
    font-size: 15px;
    background-color: rgb(199, 114, 3);
    color: white;
    border-radius: 25px;
    border: 1px solid black;
    padding-left: 25px;
    padding-right: 25px;
    justify-self: center;
    cursor: pointer;
}
.submit-btn {
    grid-column: 1/2;
    grid-row: 4/5;
}
.close-btn {
    grid-column: 2/3;
    grid-row: 4/5;
    width: 90px;
}
#player1, #player2 {
    width: 100px;
    height: 20px;
    font-size: 17px;
    justify-self: center;
    border-radius: 25px;
    border: 3px solid rgb(199, 114, 3);
    padding-left: 10px;
    padding-right: 10px;
}
#player1, #player2 {
    outline: none;
}
dialog > form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
    color: white;
    > p {
        margin-bottom: 5px;
        font-size: 20px;
        text-align: center;
    }
}
dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.7);
}
.display {
    color: white;
    border: 5px solid rgb(199, 114, 3);
    border-style: none none solid none;
}